/* hinted-Avenir-Medium ====================================================================== */
@font-face {font-family:'hinted-Avenir-Medium'; font-style:normal; font-weight:normal; src:url('hinted-Avenir-Medium.eot'); src:local('hinted-Avenir-Medium'), url('hinted-Avenir-Medium.woff') format('woff');}
/* ======================================================================================= */

/* hinted-Avenir-Black ====================================================================== */
@font-face {font-family:'hinted-Avenir-Black'; font-style:normal; font-weight:normal; src:url('hinted-Avenir-Black.eot'); src:local('hinted-Avenir-Black'), url('hinted-Avenir-Black.woff') format('woff');}
/* ======================================================================================= */

/* hinted-BebasNeueBold ====================================================================== */
@font-face {font-family:'hinted-BebasNeueBold'; font-style:normal; font-weight:normal; src:url('hinted-BebasNeueBold.eot'); src:local('hinted-BebasNeueBold'), url('hinted-BebasNeueBold.woff') format('woff');}
/* ======================================================================================= */

/* hinted-Avenir-Book ====================================================================== */
@font-face {font-family:'hinted-Avenir-Book'; font-style:normal; font-weight:normal; src:url('hinted-Avenir-Book.eot'); src:local('hinted-Avenir-Book'), url('hinted-Avenir-Book.woff') format('woff');}
/* ======================================================================================= */